pythonenv/
blog_generator/pretallod
**/.DS_Store
blog_generator/inputs/__pycache__/
blog_generator/inputs/__pycache__/conf.cpython-36.pyc
blog_generator/inputs/__pycache__
./blog_generator/inputs/__pycache__
