<html>
{% if template_name != "index" %}
    {% set BASE_FOLDER = ".." %}
{% else %}
    {% set BASE_FOLDER = "." %}
{% endif %}
<head>
    <style></style>
        <style>
        .content {
            height: fit-content;
        }
        .container {
            margin-top: 10px;
        }
        * {
            font-family: 'Robot', sans-serif;
        }
    </style>
    <link rel="stylesheet" href="{{BASE_FOLDER}}/static/bootstrap.min.css" integrity="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" 
      type="image/png" 
      href="{{BASE_FOLDER}}/static/cropped-logo-cut-final-32x32.png">
    <title>Pr&ecirc;t-&agrave;-LLOD</title>

</head>
<body>
{% include 'navbar.jinja2' %}

{% if slug == "index" %}
<div class="jumbotron" style="background-image:url('{{BASE_FOLDER}}/static/website-new-banner.jpg');background-size:cover;height:645px;">
</div>
{% endif %}

<div class="container">
   <div class="row">
    <div class="content jumbotron col-9">
    {{content}}
    </div>
    <div class="col-3">
        <a class="twitter-timeline" data-width="420" data-height="500" href="https://twitter.com/pret_a_llod?ref_src=twsrc%5Etfw">Tweets by pret_a_llod</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
   </div>
</div>

{% include 'footer.jinja2' %}

</body>
</html>
