<html>
{% if template_name != "index" %}
    {% set BASE_FOLDER = ".." %}
{% else %}
    {% set BASE_FOLDER = "." %}
{% endif %}
<head>
    <style>
        * {
            text-shadow: black -0.3px 0.5px;
        }
    </style>
    <link rel="stylesheet" href="{{BASE_FOLDER}}/static/bootstrap.min.css" integrity="">
</head>
<body>
{% include 'navbar.jinja2' %}

<div>BANANNANANANANA</div>
<div class="jumbotron">
{{content}}
</div>

{% include 'footer.jinja2' %}
</body>
</html>
